################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/SPRD.LHD.MessageService/.vs/SPRD.LHD.MessageService/v15
/Services/SPRD.LHD.SocketClientsService/.vs/SPRD.LHD.SocketClientsService/v15
/Services/SPRD.LHD.SocketClientsService/bin
/Services/SPRD.LHD.SocketClientsService/obj
/Spreadtrum.LHD/.vs
/Spreadtrum.LHD/KaYi.Database/bin
/Spreadtrum.LHD/KaYi.Database/obj
/Spreadtrum.LHD/KaYi.Emails.Library/bin/Debug
/Spreadtrum.LHD/KaYi.Emails.Library/obj
/Spreadtrum.LHD/KaYi.FileSystem/bin/Debug
/Spreadtrum.LHD/KaYi.FileSystem/obj
/Spreadtrum.LHD/KaYi.Services.EventServices/bin/Debug
/Spreadtrum.LHD/KaYi.Services.EventServices/obj
/Spreadtrum.LHD/KaYi.Utilities/bin/Debug
/Spreadtrum.LHD/KaYi.Utilities/obj
/Spreadtrum.LHD/KaYi.Web.Infrastructure/bin/Debug
/Spreadtrum.LHD/KaYi.Web.Infrastructure/obj
/Spreadtrum.LHD/Spreadtrum.LHD.Business/bin
/Spreadtrum.LHD/Spreadtrum.LHD.Business/obj
/Spreadtrum.LHD/Spreadtrum.LHD.DAL/bin
/Spreadtrum.LHD/Spreadtrum.LHD.DAL/obj
/Spreadtrum.LHD/Spreadtrum.LHD.Entity/bin/Debug
/Spreadtrum.LHD/Spreadtrum.LHD.Entity/obj
/Spreadtrum.LHD/Spreadtrum.LHD.MessageCenter/bin/Debug
/Spreadtrum.LHD/Spreadtrum.LHD.MessageCenter/obj
/Spreadtrum.LHD/Spreadtrum.LHD.Mvc/bin
/Spreadtrum.LHD/Spreadtrum.LHD.Mvc/obj
/Spreadtrum.LHD/TestConsole/bin/Debug
/Spreadtrum.LHD/TestConsole/obj
/Services/SPRD.LHD.SD.MailReceive/.vs/SPRD.LHD.SD.MailReceive/v15/Server/sqlite3
/Services/SPRD.LHD.SD.MailReceive/ConsoleTest/obj/Debug
/Services/SPRD.LHD.SD.MailReceive/SPRD.LHD.SD.MailReceive/obj/Debug
/Services/SPRD.LHD.SD.MailReceive/.vs/SPRD.LHD.SD.MailReceive/v15
